* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Goldman", cursive;
  background-image: url(./img/background.jpeg);
  background-size: cover;
  margin: 0; /* Voeg dit toe om de standaardmarges te verwijderen */
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  text-align: center;
  z-index: 100; /* Zorg ervoor dat de navbar bovenop andere elementen staat */
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav img {
  width: 5vw;
}

h1, h2, p {
  color: white;
  font-size: 50px; /* Aangepaste grootte om te centreren */
  text-align: center;
  margin-top: 2.5%;
}

.footer {
  position: absolute; /* Verander van 'fixed' naar 'absolute' */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00a8c7;
  color: white;
  text-align: center;
  padding: 20px; /* Voeg wat ruimte toe rond de tekst in de footer */
}

/* Hieronder voegen we 'float' toe om elementen naast elkaar te positioneren */
.content {
  clear: both; /* Zorg ervoor dat er geen elementen naast de content zweven */
}

.content h2 {
  float: left;
  width: 50%;
  padding: 20px;
}

.content p {
  float: left;
  width: 50%;
  padding: 20px;
}
